<div class="row">
  <div class="col-md-8 col-md-offset-2" style="height: 150px; padding: 20px; border: 3px solid grey">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/img/no-profile-picture.jpg" height=75px width=75px>
      </div>
      <div class="col-md-9">
        <p><strong>Кирилл, 29 лет, г. Бабинск</strong></p>
        <p>Бла-бла-бла, мне помогло, все супер! Бла-бла-бла, мне помогло, все супер! Бла-бла-бла, мне помогло, все супер! Бла-бла-бла, мне помогло, все супер! Бла-бла-бла, мне помогло, все супер!</p>
      </div>
    </div>
  </div>
</div>
