<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/img/no-profile-picture.jpg" alt="User avatar" height=75 width=75>
      </div>
      <div class="col-md-9">
        <p><strong>Кирилл, 29 лет, г. Бабинск</strong></p>
        <p>Бла-бла-бла, мне помогло, все супер! Бла-бла-бла, мне помогло, все супер! Бла-бла-бла, мне помогло, все супер! Бла-бла-бла, мне помогло, все супер! Бла-бла-бла, мне помогло, все супер!</p>
      </div>
    </div>
  </div>
</div>
