<div class="container-fluid">
  <div class="row text-center">
    <h1>Вы поставщик?</h1>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
      <p>
      Для доступа к телефонам покупателей заполните форму или позвоните нам +7 999 888-77-66
      </p>
      <p>
      Текст с дополнительной информацией по условиям сотрудничества.
      <br>
      Возможно стоит вынести на отдельную страницу.
      <br>
      Текст с дополнительной информацией по условиям сотрудничества.
      <br>
      Возможно стоит вынести на отдельную страницу.
      </p>
    </div>
    <div class="col-sm-5 col-md-5">
      <form class="form-horizontal" style="margin-top: 20px">
        <div class="form-group">
          <label class="col-sm-4 col-md-3 control-label" for="order-description">Организация</label>
          <div class="col-sm-8 col-md-9">
            <input class="form-control" id="order-description" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 col-md-3 control-label" for="order-description">Телефон</label>
          <div class="col-sm-9 col-md-9">
            <input class="form-control" id="order-description" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 col-md-3 control-label" for="order-description">Email</label>
          <div class="col-sm-9 col-md-9">
            <input class="form-control" id="order-description" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 col-md-3 control-label" for="order-description">Имя</label>
          <div class="col-sm-9 col-md-9">
            <input class="form-control" id="order-description" type="text">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-9 col-md-7 col-md-offset-3 col-sm-offset-3">
            <input class="btn btn-primary form-control" type="submit" value="Отправить информацию">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
