.participants {
    padding-top: 30px;
}

.order-form {
    padding-top: 60px;
}

.participants-label {
    font-size: 16px;
    line-height: 42.8571429px;
}
.participants-counter {
    font-size: 30px;
    line-height: 42.8571429px;
}
