<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - kypimsami.ru</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/base.css" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class="navbar-text">
              Регион:
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" id="location-popover" href="#">
                Новосибирск и область
                <span class="caret"></span>
              </a>
              {% include 'includables/cities-dropdown-menu.html' %}
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Леонид Федорович</a></li>
            <li><a href="#">выход</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="location-popover-template-wrapper", style="display: none">
      <div class="popover fade bottom in location-popover-template" role="tooltip">
        <div class="arrow"></div>
        <div class="popover-content"></div>
      </div>
    </div>
    <div id="location-prompt-wrapper" style="display: none">
      <div class="row" id="location-prompt">
        <p class="text-center">Ваш регион - Новосибирск и область.<br>Угадали?</p>
        <button class="btn btn-default col-xs-offset-3 col-xs-2">Да</button>
        <button class="btn btn-default col-xs-offset-2 col-xs-2 location-dropdown-trigger">Нет</button>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer class="suppliers">
      {% include 'includables/supplier-form.html' %}
    </footer>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block javascript %}
    {% endblock %}
    <script>
      var showLocationPopover = function() {
        var popoverTemplate = $("#location-popover-template-wrapper").html();
        $("#location-popover").popover({
          html: true,
          placement: "bottom",
          trigger: "manual",
          container: "body",
          template: popoverTemplate,
          content: function() {
            return $("#location-prompt-wrapper").html();
          }
        }).popover("show");
      };
      $(document).ready(function() {
        if (localStorage.getItem("isLocationPrompted") != "true") {
          showLocationPopover();
          localStorage.setItem("isLocationPrompted", "true");
        }
        $(".location-dropdown-trigger").click(function(e) {
          e.stopPropagation(); // https://stackoverflow.com/a/35760042/3694363
          $("#location-popover").dropdown("toggle");
          $("#location-popover").popover("hide");
          if ($(window).width() < 768) {
            $("#navbar").collapse();
          }
        });
      });
      $(document).on("click", function (e) {
        $("#location-popover").popover("hide");
      });
    </script>
  </body>
</html>
