{% extends 'base.html' %}


{% block title %}
Главная
{% endblock %}


{% block stylesheets %}
<link href="assets/css/index.css" rel="stylesheet">
{% endblock %}


{% block content %}
<section class="participants">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p class="participants-label">Участники в Новосибирске:</p>
      </div>
      <div class="col-sm-3 col-md-4">
        <a href="#" class="participants-counter">105 оптовых компаний</a>
      </div>
      <div class="col-sm-3 col-md-4">
        <a href="#" class="participants-counter">25 производителей</a>
      </div>
    </div>
  </div>
</section>
<section class="order-form">
  <div class="container">
    <div class="row">
      {% include 'includables/order-form.html' %}
    </div>
  </div>
</section>
<section class="new-orders">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2 text-center">
        <h1 class="new-orders-caption">Свежие заявки</h1>
      </div>
    </div>
    {% include 'includables/order-filters.html' %}
    {% include 'includables/order.html' %}
    {% include 'includables/order.html' %}
    {% include 'includables/order.html' %}
    {% include 'includables/order.html' %}
    <div class="row text-center">
      <a class="btn btn-primary btn-lg all-orders-button" href="orders.html">Посмотреть все заявки</a>
    </div>
  </div>
</section>
<section class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="review-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              {% include 'includables/review.html' %}
            </div>
            <div class="item">
              {% include 'includables/review.html' %}
            </div>
            <div class="item">
              {% include 'includables/review.html' %}
            </div>
          </div>
          <a class="left carousel-control" href="#review-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#review-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-info leave-review-button">Отправить отзыв</button>
      </div>
    </div>
  </div>
</section>
{% endblock %}
