{% extends 'base.html' %}


{% block title %}
  Заявки
{% endblock %}


{% block stylesheets %}
  <style>
    .more-orders-button {
      display: inline-block;
      border-radius: 25px;
      width: 300px;
     }

    .orders-title {
      margin-bottom: 40px;
      font-size: 42px;
    }

    .right-pagination-button,
    .left-pagination-button {
      height: 18px;
    }
  </style>
{% endblock %}


{% block content %}
  <header>
    <div class="container-fluid">
      <div class="row">
        <img src="assets/img/logo.png" alt="Site logo">
      </div>
    </div>
  </header>
  <section class="orders">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <h2 class="orders-title">Заявки</h2>
        </div>
      </div>
      {% include 'includables/order-filters.html' %}
      {% for order_index in range(8) %}
        {% include 'includables/order.html' %}
      {% endfor %}
      <div class="row text-center">
        <button class="btn btn-primary btn-lg more-orders-button">Показать еще</button>
      </div>
      <div class="row text-center">
        <ul class="pagination">
          <li><a href="#"><span class="glyphicon glyphicon-chevron-left left-pagination-button"></span></a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">...10</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-chevron-right right-pagination-button"></span></a></li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
